._6n7{display:block;position:relative}._6n9{font-size:11px;font-weight:500;opacity:.8;padding-top:4px;text-transform:uppercase}
._2hb5{display:inline-block}
._5qla{margin-top:3px;vertical-align:top}
.sp_04TQqAqCZYV{background-image:url(/rsrc.php/v3/yj/r/s6zL7ZIRzv1.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:12px;width:12px}.sp_04TQqAqCZYV.sx_479335{width:10px;height:10px;background-position:0 -13px}.sp_04TQqAqCZYV.sx_a75e71{background-position:0 0}

#bootloader_wonZ0{height:42px;}.bootloader_wonZ0{display:block!important;}